# name is made short because the check path becomes really long and repeditive
name: run

on:
  workflow_call:
    inputs:
      solutionName:
        required: true
        type: string

jobs:
  snitch-run:
    runs-on: windows-2025
    env:
      DOTNET_CLI_TELEMETRY_OPTOUT: 1
      DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
      DOTNET_NOLOGO: true
      DOTNET_GENERATE_ASPNET_CERTIFICATE: false
      solutionpath: ${{ inputs.solutionName }}.sln
    steps:
    - name: Checkout code
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      with:
        path: a

    - name: Checkout dpvreony/github-action-workflow
      uses: actions/checkout@c2d88d3ecc89a9ef08eebf45d9637801dcee7eb5
      with:
        repository: dpvreony/github-action-workflows
        path: github-action-workflows

    - name: Install .NET
      uses: actions/setup-dotnet@v5
      with:
        global-json-file: "github-action-workflows/eng/snitch/global.json"

    - name: Install dotnet tools
      run: dotnet tool restore --tool-manifest dotnet-tools.json
      working-directory:
        github-action-workflows/eng/snitch

    - name: Prepare Artifact Directory
      run: |
        mkdir -p artifacts/snitch

    - name: run snitch
      run: |
        dotnet snitch ${{ github.workspace }}/a/src/${{ env.solutionpath }} > ${{ github.workspace }}/artifacts/snitch/snitch.txt
      working-directory:
        github-action-workflows/eng/snitch

    - name: store snitch
      if: ${{ always() }}
      uses: actions/upload-artifact@v5
      with:
        name: snitch
        path: artifacts/snitch
