# name is made short because the check path becomes really long and repeditive
name: run

on:
  workflow_call:
    inputs:
      solutionName:
        required: true
        type: string

jobs:
  appinspector:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      with:
        path: a

    - name: Checkout dpvreony/github-action-workflow
      uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e
      with:
        repository: dpvreony/github-action-workflows
        path: github-action-workflows

    - name: Install .NET
      uses: actions/setup-dotnet@v5
      with:
        global-json-file: "github-action-workflows/eng/appinspector/global.json"
        
    - name: Install dotnet tools
      run: dotnet tool restore --tool-manifest dotnet-tools.json
      working-directory:
        github-action-workflows/eng/appinspector

    - name: Prepare Artifact Directory
      run: |
        mkdir -p artifacts/appinspector

    - name: Generate App Inspector Report
      run: |
        dotnet appinspector analyze --no-show-progress -s ${{ github.workspace }}/a/src -f html -o ${{ github.workspace }}/artifacts/appinspector/appinspector.html
      working-directory: 
         github-action-workflows/eng/appinspector

    - name: store appinspector
      if: ${{ always() }}
      uses: actions/upload-artifact@v5
      with:
        name: appinspector
        path: artifacts/appinspector
