# name is made short because the check path becomes really long and repeditive
name: run

on:
  workflow_call:
    inputs:
      solutionName:
        required: true
        type: string
      useSlnx:
        required: false
        type: boolean
        default: false
        description: 'If true, uses .slnx solution format instead of .sln'

jobs:
  nuget-depr-package-run:
    runs-on: windows-2025
    env:
      DOTNET_CLI_TELEMETRY_OPTOUT: 1
      DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
      DOTNET_NOLOGO: true
      DOTNET_GENERATE_ASPNET_CERTIFICATE: false
      solutionpath: ${{ inputs.solutionName }}.${{ inputs.useSlnx && 'slnx' || 'sln' }}
    steps:
    - name: Checkout code
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      with:
        path: a

    - name: Checkout dpvreony/github-action-workflow
      uses: actions/checkout@c2d88d3ecc89a9ef08eebf45d9637801dcee7eb5
      with:
        repository: dpvreony/github-action-workflows
        path: github-action-workflows

    - name: Install .NET
      uses: actions/setup-dotnet@v5
      with:
        global-json-file: "a/global.json"

    - name: Prepare Artifact Directory
      run: |
        mkdir -p artifacts/nuget-deprecated

    - name: Restore Packages
      run: |
        dotnet restore ${{ env.solutionpath }} -- /bl:artifacts\binlog\restore.binlog
      working-directory: a/src

    - name: List vulnerable packages
      run: |
        dotnet list package --deprecated --format json --include-transitive >> ${{ github.workspace }}/artifacts/nuget-deprecated/output.json
      working-directory:
        a/src

    - name: store vulnerable package output
      if: ${{ always() }}
      uses: actions/upload-artifact@v5
      with:
        name: nuget-deprecated
        path: artifacts/nuget-deprecated
