# name is made short because the check path becomes really long and repeditive
name: run

on:
  workflow_call:
    inputs:
      solutionName:
        required: true
        type: string

jobs:
  nuget-depr-package-run:
    runs-on: windows-2025
    env:
      DOTNET_CLI_TELEMETRY_OPTOUT: 1
      DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
      DOTNET_NOLOGO: true
      DOTNET_GENERATE_ASPNET_CERTIFICATE: false
      solutionpath: ${{ inputs.solutionName }}.sln
    steps:
    - name: Checkout code
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      with:
        path: a

    - name: Checkout dpvreony/github-action-workflow
      uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e
      with:
        repository: dpvreony/github-action-workflows
        path: github-action-workflows

    - name: Install .NET
      uses: actions/setup-dotnet@v5
      with:
        global-json-file: "a/global.json"

    - name: Prepare Artifact Directory
      run: |
        mkdir -p artifacts/nuget-deprecated

    - name: Restore Packages
      run: |
        dotnet restore ${{ env.solutionpath }} -- /bl:artifacts\binlog\restore.binlog
      working-directory: a/src

    - name: List vulnerable packages
      run: |
        dotnet list package --deprecated --format json --include-transitive >> ${{ github.workspace }}/artifacts/nuget-deprecated/output.json
      working-directory:
        a/src

    - name: store vulnerable package output
      if: ${{ always() }}
      uses: actions/upload-artifact@v5
      with:
        name: nuget-deprecated
        path: artifacts/nuget-deprecated
