# name is made short because the check path becomes really long and repeditive
name: run

on:
  workflow_call:
    inputs:
      solutionName:
        required: true
        type: string
      useSlnx:
        required: false
        type: boolean
        default: false
        description: 'If true, uses .slnx solution format instead of .sln'

jobs:
  licenses-run:
    runs-on: ubuntu-latest
    env:
      DOTNET_CLI_TELEMETRY_OPTOUT: 1
      DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
      DOTNET_NOLOGO: true
      DOTNET_GENERATE_ASPNET_CERTIFICATE: false
      solutionpath: ${{ inputs.solutionName }}.${{ inputs.useSlnx && 'slnx' || 'sln' }}
    steps:
    - name: Checkout code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      with:
        path: a

    - name: Checkout dpvreony/github-action-workflow
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      with:
        repository: dpvreony/github-action-workflows
        path: github-action-workflows

    - name: Install .NET
      uses: actions/setup-dotnet@v5
      with:
        global-json-file: "github-action-workflows/eng/licenses/global.json"

    - name: Install dotnet tools
      run: dotnet tool restore --tool-manifest dotnet-tools.json
      working-directory:
        github-action-workflows/eng/licenses

    - name: Prepare Artifact Directory
      run: |
        mkdir -p artifacts/licenses

    - name: Restore Packages
      run: |
        dotnet restore ${{ env.solutionpath }} -- /bl:artifacts\\binlog\\restore.binlog
      working-directory: a/src

    - name: List licenses
      run: |
        dotnet nuget-license -i ${{ github.workspace }}/a/src/${{ env.solutionpath }} -t -o Json -fo ${{ github.workspace }}/artifacts/licenses/licenses.json
      working-directory:
        github-action-workflows/eng/licenses

    - name: store licenses
      if: ${{ always() }}
      uses: actions/upload-artifact@v5
      with:
        name: licenses
        path: artifacts/licenses
