name: dotnet-build-windows

on:
  workflow_call:
    inputs:
      solutionName:
        required: true
        type: string
      useSlnx:
        required: false
        type: boolean
        default: false
        description: 'If true, uses .slnx solution format instead of .sln'
      isPrimaryBuildOs:
        required: false
        type: boolean
        default: false
        description: 'If true, this OS will upload release artifacts (nuget packages, SBOM, etc.)'
      runIntTests:
        required: false
        type: boolean
        default: true
        description: 'If true, integration tests will be run'
      workloads:
        required: false
        type: string
        default: ''
        description: 'Comma-separated list of .NET workloads to install'
    secrets:
      SONAR_TOKEN:
        required: false
      SONAR_PROJECT_KEY:
        required: false
      SONAR_ORGANISATION_KEY:
        required: false
      VIRUSTOTAL_API_KEY:
        required: false
      CODECOV_TOKEN:
        required: false
    outputs:
      nbgv:
        description: 'NBGV SemVer2 version'
        value: ${{ jobs.build.outputs.nbgv }}
      change_commit_log:
        description: 'Change commit log'
        value: ${{ jobs.build.outputs.change_commit_log }}

jobs:
  build:
    runs-on: windows-2025
    outputs:
      nbgv: ${{ steps.common-build.outputs.nbgvVersion }}
      change_commit_log: ${{ steps.common-build.outputs.changeCommitLog }}
    env:
      DOTNET_CLI_TELEMETRY_OPTOUT: 1
      DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
      DOTNET_NOLOGO: true
      DOTNET_GENERATE_ASPNET_CERTIFICATE: false
      solutionpath: ${{ inputs.solutionName }}.${{ inputs.useSlnx && 'slnx' || 'sln' }}
      unittestprojectpath: ${{ inputs.solutionName }}.UnitTests/${{ inputs.solutionName }}.UnitTests.csproj
      inttestprojectpath: ${{ inputs.solutionName }}.IntegrationTests/${{ inputs.solutionName }}.IntegrationTests.csproj
      benchmarkprojectpath: ${{ inputs.solutionName }}.Benchmarks/${{ inputs.solutionName }}.Benchmarks.csproj
    steps:
      # Two-checkout pattern: checkout triggering repo and this repo for action access
      - name: Checkout repository being built
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          path: a
          fetch-depth: 0

      - name: Checkout github-action-workflows (actions & scripts)
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          repository: dpvreony/github-action-workflows
          path: github-action-workflows
          fetch-depth: 0

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3.2.2
      - name: Install Android SDK
        run: |
          $sdkmanagerpath = Get-ChildItem "C:\Android\android-sdk\cmdline-tools\**\bin\sdkmanager.bat" | Select-Object -First 1
          if ($sdkmanagerpath -eq $null) {
              throw "Unable to find android sdk manager"
          }
          echo $sdkmanagerpath
          . $sdkmanagerpath --install "platforms;android-30"

      - name: Run Common Build Steps
        id: common-build
        uses: ./github-action-workflows/.github/actions/dotnet-build-common
        with:
          solutionName: ${{ inputs.solutionName }}
          useSlnx: ${{ inputs.useSlnx }}
          isPrimaryBuildOs: ${{ inputs.isPrimaryBuildOs }}
          runIntTests: ${{ inputs.runIntTests }}
          osName: windows
          workloads: ${{ inputs.workloads }}
          codecovToken: ${{ secrets.CODECOV_TOKEN }}
          sonarToken: ${{ secrets.SONAR_TOKEN }}
          sonarProjectKey: ${{ secrets.SONAR_PROJECT_KEY }}
          sonarOrganisationKey: ${{ secrets.SONAR_ORGANISATION_KEY }}
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          virusTotalApiKey: ${{ secrets.VIRUSTOTAL_API_KEY }}
