name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    types: [opened, synchronize, reopened, closed]
    branches: [ main ]

permissions:
  contents: read

jobs:
  build:
    permissions:
      actions: write
      contents: write
      deployments: read
      pages: write
      id-token: write
      pull-requests: write
      security-events: write
      packages: read
    uses: ./.github/workflows/dotnet-ci.yml
    with:
      solutionName: "Workflow"
      buildOs: "windows"

  actionlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Download actionlint
        id: get_actionlint
        run: bash <(curl https://raw.githubusercontent.com/rhysd/actionlint/refs/tags/v1.7.9/scripts/download-actionlint.bash)
        shell: bash
      - name: Check workflow files
        run: ${{ steps.get_actionlint.outputs.executable }} -color
        shell: bash
